<div
  class="img-container"
  style="
    /* display: flex; */
    /* flex-direction: row; */
    width: 100vw;
    height: 60vh;
    justify-content: center;
    margin-bottom: 4rem;
  "
>
  <img
    src="https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_1600,q_auto:eco,dpr_2,f_auto,fl_progressive/image/vm/c4b8fc2e-4cfa-4045-81c5-4946c00fa8b6.png"
    alt=""
    style="overflow: hidden"
  />
</div>
<h1 class="heading">All Trainers</h1>
<div class="container">
  <div *ngFor="let trainer of trainersList">
    <app-trainer-item [trainer]="trainer"></app-trainer-item>
  </div>
</div>
