<h1 class="heading">All Workouts</h1>
<div class="svg-container">
  <app-loader-svg></app-loader-svg>
</div>

<div class="list-container">
  <app-workout-item
    *ngFor="let workout of workouts"
    [workout]="workout"
  ></app-workout-item>
</div>
<div
  class="img-container"
  style="
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    margin-bottom: 4rem;
  "
>
  <img
    style="width: 20vh"
    src="https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_500,q_auto:eco,dpr_2,f_auto,fl_progressive/image/test/we-are-cult-logo/text-only-v2.png"
    alt=""
  />
</div>
