.example-card {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border: 2px solid #a8d5a2; // Adding a light green border

  .mat-card-header {
    display: flex;
    align-items: center;
    background-color: #e8f5e9; // Subtle green tint

    .example-header-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #e0e0e0;
    }

    .mat-card-title {
      margin-left: 10px;
      font-size: 1.5em;
    }

    .mat-card-subtitle {
      margin-left: 10px;
      font-size: 1.2em;
      color: #757575;
    }
  }

  .mat-card-content {
    p {
      line-height: 1.6;

      br {
        margin-bottom: 10px;
        content: " ";
        display: block;
      }
    }
  }

  .mat-card-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    button {
      background-color: #66bb6a; // Greenish button color
      color: #ffffff;
      padding: 10px 15px;
      border-radius: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #4caf50; // Darker green on hover
      }
    }
  }
}
.buttons button {
  margin: 1rem 0.2rem;
  color: white;
  background-color: rgba(47, 161, 255, 0.924);
}
.heading {
  font-size: 1.8rem;
  font-weight: bold;
}

.badge-container {
  display: flex;
  justify-content: space-between;
}

.badge {
  padding: 0.25rem 0.5rem;
  color: white;
  border-radius: 0.5rem;
  font-weight: 700;
}

.content-box {
  padding: 1rem;
  width: 18rem;
}

.HIGH {
  background-color: rgb(255, 83, 83);
}

.LOW {
  background-color: rgb(186, 255, 82);
  color: black;
}

.MODERATE {
  background-color: rgb(255, 194, 80);
}

.ADVANCED {
  background-color: rgb(255, 83, 83);
}

.BEGINNER {
  background-color: rgb(186, 255, 82);
  color: black;
}

.INTERMEDIATE {
  background-color: rgb(255, 194, 80);
}

.speciality {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem 0;
  color: rgb(225, 213, 47);
}

.workout-type {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: 200;
  color: greenyellow;
}

mat-card {
  margin: 1rem;
  border-radius: 1rem;
}
.FIVE {
  color: rgb(0, 255, 0);
}
.FOUR {
  color: rgb(186, 255, 82);
}
.THREE {
  color: rgb(255, 194, 80);
}
.TWO {
  color: rgb(227, 62, 62);
}
.ONE {
  color: rgb(255, 0, 0);
}
.sublabel-id {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 1rem 0;
  color: rgb(246, 246, 246);
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

mat-card {
  overflow: hidden;
  position: relative;
}
.img-bg {
  width: 40%;
}
.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
